body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
    height: 100%;
}

#main {
    display: flex;
    height: 100%
}

#main-2 {
    width: 80%;
    padding-left: 40px;
}

#main-heading {
    font-size: 35px;
}

#note-holder {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;

}

#type-bar {
    width: 100%;
    display: none;

}

#title,
#content {
    width: 40%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    
}

#submit-btn {
    padding: 5px 20px;
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 2px;
}

#submit-btn:hover {
    transform: scale(1.10);
    transition: .3s ease;
}

.note {
    width: 22%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h6 {
        margin-bottom: 0;
    }
}

.note_p {
    font-size: smaller;
    padding: 0;
}

.note_h6 {
    margin-top: 0;
}

.date-wrapper {
    display: flex;
    align-items: center;
    margin-top: auto;

}

.rem-btn {
    margin-left: auto;
    align-self: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: smaller;
    cursor: pointer;
}



#main-1 {
    width: 15%;
    background-color: rgb(249, 249, 249);
    border-right: 4px solid aliceblue;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            justify-content: center;
            padding: 10px;

            a {
                display: flex;
                gap: 30px;
                text-decoration: none;
                color: black;
            }
        }

        li:hover {
            background-color: rgb(235, 235, 235);
        }
    }

}

#add-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
}

#add-btn:hover {
    transform: scale(1.20);
    transition: .3s ease;
}

@media only screen and (max-width:787px) {


    #title,
    #content {
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
    #submit-btn{
        width: fit-content;
        margin: auto;
    }
    #note-holder{
        gap: 5px;
    }
    .note{
        width: 45%;
    }
}

@media only screen and (max-width:640px) {
    .note{
        width: 80%;
    }
}